In [2]:
import mysql.connector
import pandas as pd
import numpy as np
from tqdm import tqdm

In [ ]:
conn = mysql.connector.connect(
    host = "*****",
    port = "****",
    user = "****",
    password = "****",
    database = "****"
)

cursor = conn.cursor(buffered=True)

In [7]:
query = """
        create table national_pension_240924 (
            자료생성년월 varchar(10),
            사업장명 varchar(1000),
            사업자등록번호 VARCHAR(100),
            사업장가입상태코드_1_등록_2_탈퇴 VARCHAR(10),
            우편번호 varchar(10),
            사업장지번상세주소 varchar(1000),
            사업장도로명상세주소 varchar(1000),
            고객법정동주소코드 varchar(100),
            고객행정동주소코드 varchar(100),
            법정동주소광역시도코드 varchar(100),
            법정동주소광역시시군구코드 varchar(100),
            법정동주소광역시시군구읍면동코드 varchar(100),
            사업장형태구분코드_1_법인_2_개인 varchar(100),
            사업장업종코드 varchar(100),
            사업장업종코드명 varchar(100),
            적용일자 varchar(10),
            재등록일자 varchar(10),
            탈퇴일자 varchar(10),
            가입자수 numeric(55),
            당월고지금액 numeric(55),
            신규취득자수 numeric(55),
            상실가입자수 numeric(55)
        );
        """

cursor.execute(query)
conn.commit()

In [5]:
load_data_infile = """
        LOAD DATA LOCAL INFILE '/home/cook/ws/myproject/team/national_pension_20240924_utf8.csv'
        INTO TABLE national_pension_240924
        CHARACTER SET utf8mb4
        FIELDS TERMINATED BY ','
        LINES TERMINATED BY '\n'
        IGNORE 1 LINES (
        자료생성년월,
        사업장명,
        사업자등록번호,
        사업장가입상태코드_1_등록_2_탈퇴,
        우편번호,
        사업장지번상세주소,
        사업장도로명상세주소,
        고객법정동주소코드,
        고객행정동주소코드,
        법정동주소광역시도코드,
        법정동주소광역시시군구코드,
        법정동주소광역시시군구읍면동코드,
        사업장형태구분코드_1_법인_2_개인,
        사업장업종코드,
        사업장업종코드명,
        적용일자,
        재등록일자,
        탈퇴일자,
        가입자수,
        당월고지금액,
        신규취득자수,
        상실가입자수);
        """

In [6]:
try:
    cursor.execute(load_data_infile)
    conn.commit()
    print("loaded csv file")
except mysql.connector.Error as err:
    print(f"Error: {err}")
    conn.rollback()
finally:
    cursor.close()
    conn.close()

loaded csv file

In [12]:
conn = mysql.connector.connect(
    host = "msdb.cvyy46quatrs.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "choi",
    password = "1234",
    database = "vector",
)

cursor = conn.cursor(buffered=True)

In [4]:
duplicates = 0
successes = 0
noname = 0

cursor.execute("select comp_id, comp_name, employee_num, avg_salary from company where employee_num is null or avg_salary is null")
comps = cursor.fetchall()

for comp in comps:
    comp_id = comp[0]
    comp_name = comp[1]
    employee_num = comp[2]
    avg_salary = comp[3]

    if "(주)" in comp_name:
        comp_name_re = comp_name.replace("(주)", "").strip()
    elif "주식회사" in comp_name:
        comp_name_re = comp_name.replace("주식회사", "").strip()
    else:
        comp_name_re = comp_name

    cursor.execute("""select 사업장명, 가입자수, 당월고지금액 
                   from national_pension_240924 
                   where 사업장명 like %s""", ('%' + comp_name_re + '%',))
    results = cursor.fetchall()

    if len(results) > 1:
        duplicates += 1
        print("----------------------------------------------------------------")
        print(f"Dulicate comp name {comp_name}")
    elif len(results) == 1:
        successes += 1
        print("----------------------------------------------------------------")
        np_employee_num = results[0][1]
        np_month_money = results[0][2]

        if employee_num is None:
            cursor.execute("""update company set employee_num=%s where comp_id=%s""", (np_employee_num, comp_id))
        if avg_salary is None:
            np_avg_salary = (((np_month_money / np_employee_num) / 9) * 100) * 12
            cursor.execute("""update company set avg_salary=%s where comp_id=%s""", (np_avg_salary, comp_id))
    else:
        noname += 1
        print("----------------------------------------------------------------")
        print(f"No such name: {comp_name}")

print(f"duplicates: {duplicates}, successes: {successes}, noname: {noname}")

----------------------------------------------------------------
No such name: (주)비비파트너스
----------------------------------------------------------------
Dulicate comp name (주)긴트
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name (주)테스프
----------------------------------------------------------------
No such name: (주)드림에이치알
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name (주)피엠에프
----------------------------------------------------------------
No such name: (주)휴먼트리월드와이드
----------------------------------------------------------------
----------------------------------------------------------------
No such name: 탑커리어인사이트
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
No such name: 그린에이아이
----------------------------------------------------------------
No such name: (주)투비파트너즈
----------------------------------------------------------------
No such name: (주)피플케어코리아
----------------------------------------------------------------
No such name: 반석써치(주)
----------------------------------------------------------------
----------------------------------------------------------------
No such name: 주식회사 매이드 (MADDE Inc.)
----------------------------------------------------------------
No such name: 주) 석세스코리아컨설팅
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name (주)복주
----------------------------------------------------------------
Dulicate comp name (주)인스케이프
----------------------------------------------------------------
Dulicate comp name SMI
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name 주식회사 지니어스
----------------------------------------------------------------
Dulicate comp name (주)케이티
----------------------------------------------------------------
No such name: (주)라온서치
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
No such name: (주)스카우트플랜
----------------------------------------------------------------
No such name: (유)포리코리아
----------------------------------------------------------------
No such name: (주)백그라운드
----------------------------------------------------------------
Dulicate comp name (주)엑스와이지
----------------------------------------------------------------
----------------------------------------------------------------
No such name: 커리어위즈
----------------------------------------------------------------
----------------------------------------------------------------
No such name: 에이치알에스코리아(주)
----------------------------------------------------------------
No such name: (주)메이븐앤컴퍼니
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name (주)유니컨
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
No such name: 고트레이즈(유)
----------------------------------------------------------------
No such name: 골든비네트워크(주)
----------------------------------------------------------------
No such name: (재)구미전자정보기술원
----------------------------------------------------------------
No such name: HR Tube
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name (주)원익홀딩스
----------------------------------------------------------------
----------------------------------------------------------------
No such name: (주)에스유스카우트
----------------------------------------------------------------
No such name: 파워에이치알
----------------------------------------------------------------
Dulicate comp name 일취
----------------------------------------------------------------
No such name: (주)이화로컴
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name (주)모아소프트
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name 코스텍시스템(주)
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name 경기산업(주)
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name (주)에스티에스로보테크
----------------------------------------------------------------
No such name: 아비만로보틱스코리아 주식회사
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name 브이산업(주)
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name 인아텍앤코포 (주)
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name (주)모빌리티원
----------------------------------------------------------------
----------------------------------------------------------------
No such name: 주식회사디든로보틱스
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name (주)티오더
----------------------------------------------------------------
No such name: (주)한국해양벤처투자
----------------------------------------------------------------
Dulicate comp name (주)에바
----------------------------------------------------------------
Dulicate comp name (주)한양정밀
----------------------------------------------------------------
Dulicate comp name (주)라온테크
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name (주)비전스페이스
----------------------------------------------------------------
Dulicate comp name (주)에스티앤아이
----------------------------------------------------------------
Dulicate comp name (주)티엠에스
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
No such name: 쿠팡풀필먼트서비스(유)
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name 주식회사 세오
----------------------------------------------------------------
Dulicate comp name 토와한국(주)
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name (주)케이스랩
----------------------------------------------------------------
No such name: 누리ecs
----------------------------------------------------------------
----------------------------------------------------------------
No such name: 주식회사 영현로보틱스
----------------------------------------------------------------
No such name: 서울쿤스트치과
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name 비엠티
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name 쿠팡(주)
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name (주)파이엇
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
Dulicate comp name (주)딥아이
duplicates: 33, successes: 61, noname: 31

In [9]:
conn.commit()
conn.close()

In [25]:
conn = mysql.connector.connect(
    host = "msdb.cvyy46quatrs.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "choi",
    password = "1234",
    database = "vector",
)

cursor = conn.cursor(buffered=True)

dup_noemp = 0
noname = 0

cursor.execute("select comp_id, comp_name, employee_num, avg_salary from company where employee_num is null or avg_salary is null")
comps = cursor.fetchall()

for comp in comps:
    comp_id = comp[0]
    comp_name = comp[1]
    employee_num = comp[2]
    avg_salary = comp[3]
    print("--------------------------------------------")

    if "(주)" in comp_name:
        comp_name_re = comp_name.replace("(주)", "").strip()
    elif "주식회사" in comp_name:
        comp_name_re = comp_name.replace("주식회사", "").strip()
    else:
        comp_name_re = comp_name

    cursor.execute("""select 사업장명, 가입자수, 당월고지금액 
                   from national_pension_240924 
                   where 사업장명 like %s""", ('%' + comp_name_re + '%',))
    results = cursor.fetchall()

    if results:
        if employee_num:
            for r in results:
                np_employee_num = r[1]
                np_month_money = r[2]
                if employee_num == np_employee_num:
                    np_avg_salary = int((((np_month_money / np_employee_num) / 9) * 100) * 12)
                    cursor.execute("""update company set avg_salary=%s where comp_id=%s""", (np_avg_salary, comp_id))
                    print(f"success: {comp_id}, {comp_name}")
                    break
        else:
            print(f"Duplicate, no employee_num comp name: {comp_id}, {comp_name}")
            dup_noemp += 1
    else:
        print(f"No such name: {comp_id}, {comp_name}")
        noname += 1

print(dup_noemp, noname)

--------------------------------------------
No such name: 1, (주)비비파트너스
--------------------------------------------
No such name: 13, (주)드림에이치알
--------------------------------------------
No such name: 19, (주)휴먼트리월드와이드
--------------------------------------------
No such name: 22, 탑커리어인사이트
--------------------------------------------
No such name: 34, 그린에이아이
--------------------------------------------
No such name: 36, (주)투비파트너즈
--------------------------------------------
No such name: 37, (주)피플케어코리아
--------------------------------------------
No such name: 38, 반석써치(주)
--------------------------------------------
No such name: 40, 주식회사 매이드 (MADDE Inc.)
--------------------------------------------
No such name: 47, 주) 석세스코리아컨설팅
--------------------------------------------
Duplicate, no employee_num comp name: 59, SMI
--------------------------------------------
Duplicate, no employee_num comp name: 72, 주식회사 지니어스
--------------------------------------------
No such name: 85, (주)라온서치
--------------------------------------------
No such name: 102, (주)스카우트플랜
--------------------------------------------
No such name: 103, (유)포리코리아
--------------------------------------------
No such name: 104, (주)백그라운드
--------------------------------------------
Duplicate, no employee_num comp name: 105, (주)엑스와이지
--------------------------------------------
No such name: 107, 커리어위즈
--------------------------------------------
No such name: 111, 에이치알에스코리아(주)
--------------------------------------------
No such name: 112, (주)메이븐앤컴퍼니
--------------------------------------------
Duplicate, no employee_num comp name: 117, (주)유니컨
--------------------------------------------
No such name: 128, 고트레이즈(유)
--------------------------------------------
No such name: 132, 골든비네트워크(주)
--------------------------------------------
No such name: 133, (재)구미전자정보기술원
--------------------------------------------
No such name: 135, HR Tube
--------------------------------------------
No such name: 140, (주)에스유스카우트
--------------------------------------------
No such name: 144, 파워에이치알
--------------------------------------------
Duplicate, no employee_num comp name: 145, 일취
--------------------------------------------
No such name: 147, (주)이화로컴
--------------------------------------------
Duplicate, no employee_num comp name: 194, (주)에스티에스로보테크
--------------------------------------------
No such name: 198, 아비만로보틱스코리아 주식회사
--------------------------------------------
Duplicate, no employee_num comp name: 207, 브이산업(주)
--------------------------------------------
Duplicate, no employee_num comp name: 217, (주)모빌리티원
--------------------------------------------
No such name: 227, 주식회사디든로보틱스
--------------------------------------------
No such name: 236, (주)한국해양벤처투자
--------------------------------------------
Duplicate, no employee_num comp name: 239, (주)에바
--------------------------------------------
Duplicate, no employee_num comp name: 251, (주)티엠에스
--------------------------------------------
No such name: 255, 쿠팡풀필먼트서비스(유)
--------------------------------------------
Duplicate, no employee_num comp name: 267, 주식회사 세오
--------------------------------------------
Duplicate, no employee_num comp name: 268, 토와한국(주)
--------------------------------------------
No such name: 277, 누리ecs
--------------------------------------------
No such name: 286, 주식회사 영현로보틱스
--------------------------------------------
No such name: 287, 서울쿤스트치과
--------------------------------------------
Duplicate, no employee_num comp name: 290, 비엠티
--------------------------------------------
Duplicate, no employee_num comp name: 306, (주)파이엇
--------------------------------------------
Duplicate, no employee_num comp name: 315, (주)딥아이
15 31

In [10]:
dup_noemp, noname

(16, 31)

In [21]:
conn.commit()

In [24]:
conn.close()